
<div class="row" style="min-height:80vh; align-items:center;display:flex;">
    <div class="col-md-6 offset-md-3 p-4 shadow bg-light">
        <h2>Sign Up!</h2>
        <form method="post" action="/user/signup">
            <input type="text" name="name" placeholder="Name" class="form-control" />
            <br>
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <br />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <button class="btn btn-primary w-100 mt-3">Sign Up!</button>
        </form>
    </div>
</div>