@using AdPost.Data
@using AdPost.Web.Models;
@model AdViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach (var ad in Model.Ads)
        {
            <div class="bg-light shadow p-4 mt-3">
                <h5>Listed by @ad.Name</h5>
                <h5>Listed on @ad.Date</h5>
                <h5>Phone number: @ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Description</p>
                @if (Model.UserId == ad.UserId)
                {
                    <form method="post" action="/home/delete?id=@ad.Id">
                        <button class="btn btn-danger w-100">Delete</button>
                    </form>
                }
            </div>
        }
    </div>
</div>

