
<div class="row" style="min-height:80vh; display: flex; height:80vh; align-items:center">
    <div class="row col-md-6 offset-md-3 bg-light p-4 shadow">
        <h3>New Ad</h3>
        <form method="post" action="/home/submitad">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" name="phonenumber" placeholder="Phone Number" class="form-control" />
                </div>
            </div>
            <br />
            <textarea rows="10" name="description" class="form-control" placeholder="Description"></textarea>
            <input type="hidden" name="userId" value="1" />
            <button class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>